SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TZ_List](
	[ID] [int] NOT NULL,
	[gmtAdjust] [varchar](10) NOT NULL,
	[DST] [int] NOT NULL,
	[gmt] [varchar](15) NOT NULL,
	[fGmt] [varchar](10) NULL,
	[fGmt_DST] [varchar](10) NULL,
	[Name] [varchar](200) NOT NULL,
	[DST_Name] [varchar](200) NULL,
 CONSTRAINT [PK_TZ_List] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TZ_List] ([ID], [gmtAdjust], [DST], [gmt], [fGmt], [fGmt_DST], [Name], [DST_Name]) VALUES (1, N'GMT-12:00', 0, N'-12', N'-12:00', N'-12:00', N'(GMT-12:00) International Date Line West', N'(GMT-12:00) International Date Line West')
INSERT [dbo].[TZ_List] ([ID], [gmtAdjust], [DST], [gmt], [fGmt], [fGmt_DST], [Name], [DST_Name]) VALUES (2, N'GMT-11:00', 0, N'-11', N'-11:00', N'-11:00', N'(GMT-11:00) Midway Island, Samoa', N'(GMT-11:00) Midway Island, Samoa')
INSERT [dbo].[TZ_List] ([ID], [gmtAdjust], [DST], [gmt], [fGmt], [fGmt_DST], [Name], [DST_Name]) VALUES (3, N'GMT-10:00', 0, N'-10', N'-10:00', N'-10:00', N'(GMT-10:00) Hawaii', N'(GMT-10:00) Hawaii')
