SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TZ_Countries](
	[zone_id] [int] NOT NULL,
	[country_code] [char](2) NOT NULL,
	[zone_name] [varchar](35) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TZ_Countries] ([zone_id], [country_code], [zone_name]) VALUES (1, N'AD', N'Europe/Andorra')
INSERT [dbo].[TZ_Countries] ([zone_id], [country_code], [zone_name]) VALUES (2, N'AE', N'Asia/Dubai')
INSERT [dbo].[TZ_Countries] ([zone_id], [country_code], [zone_name]) VALUES (3, N'AF', N'Asia/Kabul')
GO
