SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TZ_Offsets](
	[TZID] [nvarchar](255) NULL,
	[Offset] [nvarchar](255) NULL,
	[OffsetUTC] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TZ_Offsets] ([TZID], [Offset], [OffsetUTC]) VALUES (N'Africa/Abidjan', N'+00:00', N'+00:00')
INSERT [dbo].[TZ_Offsets] ([TZID], [Offset], [OffsetUTC]) VALUES (N'Africa/Accra', N'+00:00', N'+00:00')
INSERT [dbo].[TZ_Offsets] ([TZID], [Offset], [OffsetUTC]) VALUES (N'Africa/Addis_Ababa', N'+03:00', N'+03:00')
GO
